.AnswerItem{
    border: 1px solid ghostwhite;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.AnswerItem:hover{
    background: rgba(86,190,206,0.58) 20%;
    transition: background .3s ease-in-out;
}
.AnswerItem.success{
    background: lightgreen;
}

.AnswerItem.error {
    background: darksalmon;
}